.main_h2,.p_main{
	color: white;
}
.registration_h2{
	color: white;
	display:inline;
}
.my_btn{
	padding-left: 7px;
	padding-right: 7px;
	margin: 3px;
}
.alert_p, .formAlert,.deletion_alert,.donerlist_alert {
	color: red;
	font-weight: bold
}

.instructions {
	font-size: large;
	font-weight: bold
}

.fff{
	color: white;
}

.hhh { text-align: center;
	font-weight: bold; 
	font-size: large;}
	
.table_header{
		font-weight: bold;
	}
	
.edit_div{
	border-size:2px;
border-style:solid;
border-color:black
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}